---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  .page__content {
    font-size: $type-size-3;

    @include breakpoint($medium) {
      font-size: $type-size-4;
    }

    @include breakpoint($large) {
      font-size: $type-size-5;
    }

    @include breakpoint($x-large) {
      font-size: $type-size-6;
    }
  }

  .image-caption {
    text-align: center;
    font-size: .8rem;
    color: light-grey;
  }
}
